name: Code Coverage

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: julia-actions/setup-julia@latest
        with:
          version: '1.5'
      - name: "Install system dependencies"
        run: |
          sudo apt-get update
          sudo apt-get install graphviz pdf2svg
          sudo apt-get install texlive-latex-base texlive-latex-extra texlive-binaries texlive-pictures texlive-luatex
      - uses: julia-actions/julia-buildpkg@latest
      - name: "Run exhaustive tests"
        run: julia --project --code-coverage=user -e 'using Pkg; Pkg.activate("test"); Pkg.instantiate(); pkg"dev ."; include("test/runtests.jl"); Pkg.activate("docs"); Pkg.instantiate(); pkg"dev ."; map(x->map(y->include(joinpath(x[1],y)), x[3]), walkdir("docs/literate"));'
      - uses: julia-actions/julia-processcoverage@v1
      - uses: codecov/codecov-action@v1
        with:
          file: lcov.info
          fail_ci_if_error: true
